/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

#map-head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#map-head div.olControlAttribution {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px;
  font-size: 0.6em;
}

#map-head div.olControlAttribution :link, #map-head div.olControlAttribution :visited  {
  text-decoration: underline;
}

#terrain_attribution {
  position: absolute;
  bottom: 2em;
  right: .2em;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  font-size: 0.6em;
  display: none;
}

#terrain_attribution :link, #terrain_attribution :visited {
  text-decoration: none;
}

#terrain_attribution h2 {
  margin-bottom: .1em;
}

#terrain_attribution ul {
  margin-top: .2em;
}

#terrain_attribution li {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}

div.title div.container {
  position: relative;
  text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
