<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My thoughts about...">
    <meta name="author" content="MK">

    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico"/>

    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">

  </head>

  <body>
    <div class="site">
      <div class="title" style="position: relative;">
        <div id="map-head"></div>
        <div class="container">
          <h1><a href="/">Gedanken und Notizen zu...</a></h1>
          <p>Open Source, GIS, Archäologie...</p>
          <div id="terrain_attribution">
            <p style="float: right"><a href="#" onclick="toggle(terrain_attribution)">&#215;</a></p>
            <p>Terrain map data</p>
            <ul>
              <li>GTOPO30</li>
              <li>SRTM &copy; <a href='http://nasa.gov'>NASA</a></li>
              <li>EUDEM &copy; Produced using Copernicus data and information<br/>funded by the European Union - EU-DEM layers</li>
              <li>CleanTOPO2 public domain</li>
              <li>GlobCover &copy; <a href='http://esa.int'>ESA</a></li>
              <li>NaturalEarth <a href='http://www.naturalearthdata.com/about/terms-of-use/'>public domain</a></li>
              <li>OpenStreetMap &copy; <a href='http://www.openstreetmap.org/copyright'>OpenStreetMap contributors</a></li>
            </ul>
            <p>Terrain map design &copy; <a href='http://eox.at'>EOX IT Services GmbH</a></p>
          </div>
        </div>
      </div>

      <div class="container">
        {{ content }}
      </div>

      <div class="footer">
        <div class="container">
          <p><strong>About</strong></p>
          <p><a href="https://plus.google.com/110741070615627148317" target="_blank">mk-archaeos</a> Gedanken und Notizen aus den Bereichen OpenSource,
            Archäologie, GIS, Visualisierung, Programmieren, Datenbanken etc.</p>
          <p>Alle eigenen Inhalte stehen unter einer <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/">Creative-Commons-Lizenz</a>,
            jedoch können fremde Inhalte (speziell Videos, Photos und sonstige Bilder) unter einer anderen Lizenz stehen.</p>
          <p>Terrain map data:</p>
          <p>GTOPO30, SRTM &copy; <a href='http://nasa.gov'>NASA</a>, EUDEM
            &copy; Produced using Copernicus data and information funded by
            the European Union - EU-DEM layers, CleanTOPO2 public domain,
            GlobCover &copy; <a href='http://esa.int'>ESA</a>, NaturalEarth <a
              href='http://www.naturalearthdata.com/about/terms-of-use/'>public
              domain</a>, OpenStreetMap &copy; <a
              href='http://www.openstreetmap.org/copyright'>OpenStreetMap
              contributors</a>
          </p>
          <p>Terrain map design &copy; <a href='http://eox.at'>EOX IT Services GmbH</a></p>
        </div>
      </div>
    </div>

    <!-- TagsToHref -->
    <script src="/scripts/TagsToHref.js"></script>

    <!-- add HeaderMap -->
    <script src="//maps.eox.at/dist/ol/OpenLayers.js"></script>
    <script src="/scripts/HeaderMap.js"></script>

  </body>
</html>
