<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="ME" />

    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="/scripts/TagsToHref.js"></script>
  </head>

  <body>
    <div class="site">
      <div class="title">
        <a href="/">Gedanken und Notizen zu...</a>
        <p>Open Source, GIS, Archäologie...</p>
      </div>

      {{ content }}

      <div class="footer">
        <p><strong>About</strong></p>
        <p>Ein Blog über</p>
      </div>
    </div>

  </body>
</html>
